
.TodoItem {
    margin-left: auto;
    margin-right: auto;
  
    border-radius: 10px;
    box-shadow: 1px 2px 5px 1px lightpink;
    padding: 1rem;
    display: flex;
    align-items: center;
  }

  .TodoItem + .TodoItem {
    margin-top: 20px;
  }

  .content {
    cursor: pointer;
    flex: 1;
    display: flex;
    align-items: center;
  }
  
  .content svg {
    font-size: 1.5rem;
    color: plum;
  }
  .content .text {
    margin-left: 1.5rem;
    flex: 1;
  }
  
  .content.checked .text {
    color: gray;
    text-decoration: line-through;
    cursor: pointer;
    opacity: 0.6;
  }